body{
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  body{
    margin-top: 10px;
  }
}

#leftblock{
  width: 200px;
  height: 200px;
}

@media only screen and (max-width: 600px) {
  #leftblock{
    width: 20px;
    height: 10px;
  }
}

#rightblock{
  width: 200px;
  height: 200px;
}

@media only screen and (max-width: 600px) {
  #rightblock{
    width: 20px;
    height: 10px;
  }
}

h1{
  color: #00aced;
  font-size: 64px;
  line-height: 56px;
}

p{
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: black;
  max-width: 600px;
}

#statement{
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 24px;
  font-weight: bolder;
  line-height: 24px;
  color: black;
  max-width: 600px;
}

#bar{
  width: 70px;
  height: 5px;
  background: #00aced;
}

@media only screen and (max-width: 600px) {
  #bar{
    width: 300px;
    height: 2px;
  }
}

#image{
  position: relative;
  height: 50px;
  width: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 40px;
  padding: 20px;
}

#bell{
  height: 120px;
  width: auto;
  position: absolute;
  top: 30px;
  left: 30px;
}

#clicks{
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
  font-size: 40px;
  height: 70px;
  width: 70px;
  background-color: #00aced;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: thin;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 85px;
}

#button1 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  border-radius: 25px;
  border-style: none;
  color: white;
  font-size: 16px;
  background: #00aced;
  padding: 10px 20px 10px 20px;
  margin: 10px 0px 0px 0px;;
  text-decoration: none;
  position: relative;
  top: 100px;
  left: 0px;
}

#button2 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  border-radius: 25px;
  border-style: none;
  color: white;
  font-size: 16px;
  background: #8E8E8E;
  padding: 10px 20px 10px 20px;
  margin: 10px 0px 0px 0px;;
  text-decoration: none;
  position: relative;
  top: 100px;
  left: 0px;
}

#button1:hover {
  background: #0084b4;
  text-decoration: none;
}

#button2:hover {
  background: #606060;
  text-decoration: none;
}

#button1:focus {
  outline:0;
}

#button2:focus {
  outline:0;
}

footer{
  position: relative;
  top: 100px;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #8E8E8E;
}

a:link{
  color: #00aced;
}

a:visited{
  color: #00aced;
}
a:hover{
  color: #0084b4;
}
